//Stores
.store-profile-picture-details {
    background: url(../images/img3.jpg) no-repeat;
    border: 2px solid white;
    background-size: cover;
    @media only screen and (min-width: 991px) {
        height:300px;
    }
    @media only screen and (max-width:990px) {
        display: none;
    }
    padding:2.5% 2%;
}

.store-profile-picture-details-mobile {
    @media only screen and (min-width: 991px) {
        display:none;
    }
    @media only screen and (max-width:990px) {
        display: block;
        height: 300px;
    }
}

//individual accounts
.personal-profile-picture {
    height: auto;
    width: 100%;
    padding: 2%;
    border: 2px solid white;
    background: url(../images/3.jpg) no-repeat;
    background-size: cover;
    @media only screen and (max-width: 990px) {
        background:url(../images/bg1.jpg) no-repeat;
    }
    & .profile-picture {
        border-radius: 50%;
        border: 3px solid $nav-color;
        vertical-align: middle;
    }
    & .profile-details {
        margin: {
            top: 5%;
        }
        @media only screen and (max-width:990px) {
            margin: {
                top: 2%;
            }
        }
        & ul {
            list-style-type: none;
            text-align: center;
            @media only screen and (max-width: 990px) {
                text-align:left;
            }
            & li:nth-child(1) {
                color: white;
                font: {
                    size: 50px;
                    weight: bolder;
                }
                @media only screen and (max-width:990px) {
                    font: {
                        size: 30px;
                    }
                }
            }
            & li:nth-child(2) {
                color: white;
                font: {
                    size: 20px;
                    weight: bold;
                }
            }
        }
    }
}

.personal-profile-body {
    margin-top: 3%;
    & h2 {
        font-size: 35px;
        font: {
            family: sans;
            margin-top: 50px;
        }
        color:$nav-color;
    }
    & .ads-hr {
        border: 2px solid $nav-color;
    }
    & #posted-ads {
        & .ads {
            height: 210px;
            width: 100%;
            background: #f4f4f4;
            opacity: 0.9;
            border-radius: 5px;
            box-shadow: 0 0 15px grey;
            padding: 2% 2%;
            padding: {
                bottom: 2%;
            }
            @media only screen and (max-width:990px) {
                height: auto;
                padding: {
                    bottom: 0;
                }
            }
            margin-bottom: 15px;
            transition: .2s all;
            &:hover {
                box-shadow: 0 0 25px grey;
                transition: .2s all ease-in-out;
            }
            & .figure-caption {
                padding: 3% 3% 2% 3%;
                transition: .2s all ease-in-out;
            }
            & .product-name {
                color: $nav-color;
                font-size: 15px;
                font-weight: bold;
            }
            & .product-price {
                color: #7a7a7a;
                font-size: 11px;
            }
            & .btn-view {
                margin-top: 0.7%;
            }
        }
    }
}
.activities{
	& ul{
		color:$main-nav;
		font-size:15px;
		list-style-type: none;
		& li:before{
			content:'~';
			margin-right:1%;
			color:$nav-color;
			font-weight:bolder;
		}
	}
}
.insights{
	& .insights-content{
		height:auto;
		width:100%;
		& .insight-heading{
			color:$nav-color;
			opacity:0.9;
			font-size:30px;
			font-family:sans;
			text-align:center;
		}
		& .insights-value{
			@extend .insight-heading;
			opacity:0.7;
			color:grey;
			font-weight:lighter;
		}
	}
}
.border-r{
	border-right:1px solid grey;
	@media only screen and (max-width:990px){
		border-right:0;
	}
}
.about-box {
    height: 300px;
    width: 100%;
    padding: 1% 2%;
    border: 2px dashed $nav-color;
    border-radius: 5px;
}
.personal-profile-b{
	background:#fafafa;
}
//settings
.personal-profile-settings-body{
	width:100%;
	height:auto;
	padding:{
		top:1%;
		bottom:1%;
	}
	& h2{
		color:$nav-color;
		font:{
			size:60px;
			weight:bold;
		}
		@media only screen and (max-width:990px){
			font-size:30px;	
			}
		text-align: center;
	}
	& ul{
		list-style-type: circle;
		& li{
			font-size:20px;
			font-weight:bolder;
			color:$nav-color;
			text-align:left;
			text-decoration: none;
			& a{
				color:$nav-color;
				font-weight:lighter;
			}
		}
	}
}