/*	Author: Syde Devs;Author URL: https://www.syde.com  */
/* Importing Preloader */
.loader-body {
  background: #bec5cc; }

#cssload-pgloading {
  position: fixed;
  left: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: 14% 0 0 -75px; }

#cssload-pgloading:after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

#cssload-pgloading .cssload-loadingwrap {
  position: absolute;
  top: 45%;
  bottom: 45%;
  left: 25%;
  right: 25%; }

#cssload-pgloading .cssload-bokeh {
  font-size: 97px;
  width: 1em;
  height: 1em;
  position: relative;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%; }

#cssload-pgloading .cssload-bokeh li {
  position: absolute;
  width: .2em;
  height: .2em;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%; }

#cssload-pgloading .cssload-bokeh li:nth-child(1) {
  left: 50%;
  top: 0;
  margin: 0 0 0 -.1em;
  background: #334572;
  transform-origin: 50% 250%;
  -o-transform-origin: 50% 250%;
  -ms-transform-origin: 50% 250%;
  -webkit-transform-origin: 50% 250%;
  -moz-transform-origin: 50% 250%;
  animation: cssload-rota 1.3s linear infinite, cssload-opa 4.22s ease-in-out infinite alternate;
  -o-animation: cssload-rota 1.3s linear infinite, cssload-opa 4.22s ease-in-out infinite alternate;
  -ms-animation: cssload-rota 1.3s linear infinite, cssload-opa 4.22s ease-in-out infinite alternate;
  -webkit-animation: cssload-rota 1.3s linear infinite, cssload-opa 4.22s ease-in-out infinite alternate;
  -moz-animation: cssload-rota 1.3s linear infinite, cssload-opa 4.22s ease-in-out infinite alternate; }

#cssload-pgloading .cssload-bokeh li:nth-child(2) {
  top: 50%;
  right: 0;
  margin: -.1em 0 0 0;
  background: #fff;
  transform-origin: -150% 50%;
  -o-transform-origin: -150% 50%;
  -ms-transform-origin: -150% 50%;
  -webkit-transform-origin: -150% 50%;
  -moz-transform-origin: -150% 50%;
  animation: cssload-rota 2.14s linear infinite, cssload-opa 4.93s ease-in-out infinite alternate;
  -o-animation: cssload-rota 2.14s linear infinite, cssload-opa 4.93s ease-in-out infinite alternate;
  -ms-animation: cssload-rota 2.14s linear infinite, cssload-opa 4.93s ease-in-out infinite alternate;
  -webkit-animation: cssload-rota 2.14s linear infinite, cssload-opa 4.93s ease-in-out infinite alternate;
  -moz-animation: cssload-rota 2.14s linear infinite, cssload-opa 4.93s ease-in-out infinite alternate; }

#cssload-pgloading .cssload-bokeh li:nth-child(3) {
  left: 50%;
  bottom: 0;
  margin: 0 0 0 -.1em;
  background: #1d3a4f;
  transform-origin: 50% -150%;
  -o-transform-origin: 50% -150%;
  -ms-transform-origin: 50% -150%;
  -webkit-transform-origin: 50% -150%;
  -moz-transform-origin: 50% -150%;
  animation: cssload-rota 1.67s linear infinite, cssload-opa 5.89s ease-in-out infinite alternate;
  -o-animation: cssload-rota 1.67s linear infinite, cssload-opa 5.89s ease-in-out infinite alternate;
  -ms-animation: cssload-rota 1.67s linear infinite, cssload-opa 5.89s ease-in-out infinite alternate;
  -webkit-animation: cssload-rota 1.67s linear infinite, cssload-opa 5.89s ease-in-out infinite alternate;
  -moz-animation: cssload-rota 1.67s linear infinite, cssload-opa 5.89s ease-in-out infinite alternate; }

#cssload-pgloading .cssload-bokeh li:nth-child(4) {
  top: 50%;
  left: 0;
  margin: -.1em 0 0 0;
  background: black;
  transform-origin: 250% 50%;
  -o-transform-origin: 250% 50%;
  -ms-transform-origin: 250% 50%;
  -webkit-transform-origin: 250% 50%;
  -moz-transform-origin: 250% 50%;
  animation: cssload-rota 1.98s linear infinite, cssload-opa 6.04s ease-in-out infinite alternate;
  -o-animation: cssload-rota 1.98s linear infinite, cssload-opa 6.04s ease-in-out infinite alternate;
  -ms-animation: cssload-rota 1.98s linear infinite, cssload-opa 6.04s ease-in-out infinite alternate;
  -webkit-animation: cssload-rota 1.98s linear infinite, cssload-opa 6.04s ease-in-out infinite alternate;
  -moz-animation: cssload-rota 1.98s linear infinite, cssload-opa 6.04s ease-in-out infinite alternate; }

/* keyframes */
@keyframes cssload-rota {
  to {
    transform: rotate(360deg); } }
@-o-keyframes cssload-rota {
  to {
    -o-transform: rotate(360deg); } }
@-ms-keyframes cssload-rota {
  to {
    -ms-transform: rotate(360deg); } }
@-webkit-keyframes cssload-rota {
  to {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes cssload-rota {
  to {
    -moz-transform: rotate(360deg); } }
@keyframes cssload-opa {
  12.0% {
    opacity: 0.80; }
  19.5% {
    opacity: 0.88; }
  37.2% {
    opacity: 0.64; }
  40.5% {
    opacity: 0.52; }
  52.7% {
    opacity: 0.69; }
  60.2% {
    opacity: 0.60; }
  66.6% {
    opacity: 0.52; }
  70.0% {
    opacity: 0.63; }
  79.9% {
    opacity: 0.60; }
  84.2% {
    opacity: 0.75; }
  91.0% {
    opacity: 0.87; } }
@-o-keyframes cssload-opa {
  12.0% {
    opacity: 0.80; }
  19.5% {
    opacity: 0.88; }
  37.2% {
    opacity: 0.64; }
  40.5% {
    opacity: 0.52; }
  52.7% {
    opacity: 0.69; }
  60.2% {
    opacity: 0.60; }
  66.6% {
    opacity: 0.52; }
  70.0% {
    opacity: 0.63; }
  79.9% {
    opacity: 0.60; }
  84.2% {
    opacity: 0.75; }
  91.0% {
    opacity: 0.87; } }
@-ms-keyframes cssload-opa {
  12.0% {
    opacity: 0.80; }
  19.5% {
    opacity: 0.88; }
  37.2% {
    opacity: 0.64; }
  40.5% {
    opacity: 0.52; }
  52.7% {
    opacity: 0.69; }
  60.2% {
    opacity: 0.60; }
  66.6% {
    opacity: 0.52; }
  70.0% {
    opacity: 0.63; }
  79.9% {
    opacity: 0.60; }
  84.2% {
    opacity: 0.75; }
  91.0% {
    opacity: 0.87; } }
@-webkit-keyframes cssload-opa {
  12.0% {
    opacity: 0.80; }
  19.5% {
    opacity: 0.88; }
  37.2% {
    opacity: 0.64; }
  40.5% {
    opacity: 0.52; }
  52.7% {
    opacity: 0.69; }
  60.2% {
    opacity: 0.60; }
  66.6% {
    opacity: 0.52; }
  70.0% {
    opacity: 0.63; }
  79.9% {
    opacity: 0.60; }
  84.2% {
    opacity: 0.75; }
  91.0% {
    opacity: 0.87; } }
@-moz-keyframes cssload-opa {
  12.0% {
    opacity: 0.80; }
  19.5% {
    opacity: 0.88; }
  37.2% {
    opacity: 0.64; }
  40.5% {
    opacity: 0.52; }
  52.7% {
    opacity: 0.69; }
  60.2% {
    opacity: 0.60; }
  66.6% {
    opacity: 0.52; }
  70.0% {
    opacity: 0.63; }
  79.9% {
    opacity: 0.60; }
  84.2% {
    opacity: 0.75; }
  91.0% {
    opacity: 0.87; } }
/* Importing Contact Page */
#contact {
  background: white;
  height: auto;
  padding: 1% 6% 5% 6%; }
  #contact #contact-form {
    background: white;
    height: auto;
    padding: 2% 3% 6% 3%; }
    #contact #contact-form .contact-form-column-1 {
      height: auto;
      background: none;
      padding: 1% 2% 1% 2%; }
      #contact #contact-form .contact-form-column-1 h2 {
        font-weight: bold;
        opacity: 0.9;
        font-family: 'Open Sans', sans-serif;
        color: #334572;
        font-size: 50px;
        margin-bottom: 4%; }
    #contact #contact-form .contact-header {
      padding: 0.5% 2%;
      background: url(../images/bg1.jpg);
      margin-bottom: 2%; }
    #contact #contact-form .contact-form-column-2 {
      height: auto;
      background: none;
      padding: 3% 4% 3% 4%; }
      #contact #contact-form .contact-form-column-2 h3 {
        color: black;
        font-weight: bold;
        font-size: 13px;
        font-margin-bottom: 10px; }
    #contact #contact-form ul {
      text-align: left;
      margin-left: -17%; }
      #contact #contact-form ul li {
        color: #7a7a7a;
        font-size: 12px; }
  #contact textarea {
    resize: none;
    background: transparent;
    width: 100%;
    border: 2px solid #1d3a4f;
    border-radius: 3px;
    transition: 0.5s all ease-in-out; }
    #contact textarea:hover, #contact textarea:focus {
      box-shadow: none;
      border: 2px solid #334572;
      opacity: 0.8;
      transition: 0.5s all ease-in-out; }
  #contact input[type="text"], #contact .post-ads-form .select, .post-ads-form #contact .select,
  #contact input[type="number"],
  #contact input[type="email"] {
    height: 45px;
    box-shadow: none;
    background: transparent;
    width: 100%;
    height: 45px;
    border: 2px solid #1d3a4f;
    padding-left: 2%;
    border-radius: 3px;
    transition: 0.5s all ease-in-out; }
    #contact input[type="text"]:hover, #contact header input[type="text"][type="search"]:focus, header #contact input[type="text"][type="search"]:focus, #contact .post-ads-form .select:hover, .post-ads-form #contact .select:hover, #contact .post-ads-form .select:focus, .post-ads-form #contact .select:focus, #contact input[type="text"]:focus, #contact .post-ads-form .select:focus, .post-ads-form #contact .select:focus,
    #contact input[type="number"]:hover,
    #contact header input[type="number"][type="search"]:focus,
    header #contact input[type="number"][type="search"]:focus,
    #contact input[type="number"]:focus,
    #contact input[type="email"]:hover,
    #contact header input[type="email"][type="search"]:focus,
    header #contact input[type="email"][type="search"]:focus,
    #contact input[type="email"]:focus {
      box-shadow: none;
      border: 2px solid #334572;
      opacity: 0.8; }

/* Media Queries */
@media only screen and (width: 768px) {
  .contact-form-column-2 {
    display: none; } }
@media only screen and (width: 600px) {
  .contact-form-column-2 {
    display: none; } }
@media only screen and (width: 800px) {
  .contact-form-column-2 {
    display: none; } }
@media only screen and (max-width: 800px) {
  .contact-form-column-2 {
    display: none; } }
/* Importing search input field */
header input[type="search"] {
  padding: 1%;
  height: 30px;
  width: 80%;
  font-family: 'Open Sans', sans-serif;
  padding-left: 2.5%;
  margin-top: 1.5%;
  background: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  box-shadow: 0 0 0 0;
  transition: 0.5s all ease-in-out; }
  header input[type="search"]:hover, header input[type="search"]:focus {
    box-shadow: 0 0 0 0;
    background: transparent;
    border: 2px solid #fff;
    transition: 0.5s all ease-in-out; }
header input[value] {
  color: #fff; }
header input[placeholder] {
  color: #fff; }
  header input[placeholder]:hover, header input[placeholder][type="search"]:focus {
    color: #fff; }
header input[type="submit"] {
  color: #fff;
  font-weight: bold;
  height: 30px;
  border: 3px solid #fff;
  border-radius: 3px;
  box-shadow: 0 0 0 0;
  background-color: transparent;
  transition: 0.5s all ease-in-out; }
  header input[type="submit"]:hover, header input[type="submit"][type="search"]:focus {
    color: #334572;
    font-weight: bolder;
    border: 3px solid transparent;
    box-shadow: 0 0 0 0;
    transition: 0.5s all ease-in-out;
    background: #fff; }

@media screen only and (max-width: 768px) {
  header input[type="search"] {
    margin-bottom: 30%; } }
/*Predefaultined classes*/
.pt10 {
  padding-top: 10px; }

.pt15 {
  padding-top: 15px; }

.pb05 {
  padding-bottom: 5px; }

.mt05 {
  margin-top: 5px; }

.mb05 {
  margin-bottom: 5px; }

.mb10 {
  margin-bottom: 10px; }

.mb15 {
  margin-bottom: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb50 {
  margin-bottom: 50px; }

.hr {
  border-top: 1px solid #7a7a7a; }

.w100 {
  width: 100%; }

ul {
  list-style-type: none; }

.pt10 {
  padding-top: 30px; }

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  position: relative; }

body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  text-decoration: none; }
  body a:hover {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none; }

body a:focus,
a:hover {
  text-decoration: none; }

/*header*/
.hyper {
  margin: auto;
  padding: 0 50px;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: white;
  width: auto;
  overflow: hidden;
  z-index: 2;
  transition: all .5s ease; }

.hyper:focus {
  color: white;
  opacity: 0.6; }

.hyper span {
  z-index: 2;
  position: relative;
  transition: all .5s ease; }

.hyper span:hover {
  color: white;
  opacity: 0.8;
  transition: all .5s ease; }

.hyper:hover, header input.hyper[type="search"]:focus {
  color: white; }

.hyper:hover:before, header input.hyper[type="search"]:focus:before {
  right: 95%;
  opacity: 1; }

.hyper:hover:after, header input.hyper[type="search"]:focus:after {
  left: 5%;
  opacity: 1; }

.hyper:before {
  opacity: 0;
  content: '';
  display: block;
  position: absolute;
  background: #fff;
  width: 4px;
  height: 100%;
  top: 0;
  right: 100%;
  transition: all .6s ease; }

.hyper:before {
  opacity: 0;
  content: '';
  display: block;
  position: absolute;
  background: #fff;
  width: 4px;
  height: 100%;
  top: 0;
  right: 100%;
  transition: all .6s ease; }

.active1 a:after,
.active1 a:hover:after {
  left: 3%;
  opacity: 1; }

.hyper:after {
  opacity: 0;
  content: '';
  display: block;
  position: absolute;
  background: #156099;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%;
  transition: all .5s ease; }

.active a:before {
  opacity: 1;
  right: 95%; }

.active1 a:before,
.active1 a:hover:before {
  opacity: 1;
  right: 97%; }

.active1 a:after,
.active1 a:hover:after {
  left: 3%;
  opacity: 1; }

.navbar-nav {
  float: none;
  margin: 0; }

.nav > li {
  float: none;
  display: inline-block; }

ul.multi-column-dropdown {
  text-align: left; }

.multi-column-dropdown li a {
  display: block;
  clear: both;
  line-height: 1.428571429;
  color: #737373 !important;
  white-space: normal;
  font-size: 12px; }

.multi-column-dropdown li a i {
  margin-right: 7px; }

.multi-column-dropdown li {
  list-style-type: none;
  margin: 7px 0; }

.multi-column-dropdown li a:hover {
  color: #000 !important; }

.w3l {
  padding: 0; }

.navi {
  height: 45px;
  background: #19253A; }

/*-- //header --*/
header {
  background-color: #334572;
  height: auto;
  width: 100%;
  border-bottom: 0px solid #334572;
  padding-top: 1%;
  padding-bottom: 0;
  padding-right: 2%; }
  header ul {
    list-style-type: none;
    color: white;
    margin-top: 2%; }
    header ul li .fa-user, header ul li .fa-lock, header ul li .fa-heart {
      color: white; }
    header ul li .header-options a, header ul li .header-options a:hover a {
      color: #fff;
      font-weight: bold;
      text-decoration: none; }
  header .fa-facebook, header .fa-facebook:hover, header input.fa-facebook[type="search"]:focus {
    color: #3b5998;
    padding: 12px;
    padding-left: 15px;
    padding-right: 15px;
    transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
    -ms-transition: 0.5s all ease-in-out;
    border-radius: 100px;
    cursor: pointer; }
    header input.fa-facebook[type="search"]:focus, header .fa-facebook:hover {
      color: #fff;
      background: #3b5998; }
  header .fa-twitter, header .fa-twitter:hover, header input.fa-twitter[type="search"]:focus {
    color: #4099ff;
    padding: 12px;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
    -ms-transition: 0.5s all ease-in-out;
    border-radius: 100px; }
    header input.fa-twitter[type="search"]:focus, header .fa-twitter:hover {
      color: #fff;
      background: #4099ff; }
  header .fa-pinterest-p, header .fa-pinterest-p:hover, header input.fa-pinterest-p[type="search"]:focus {
    color: #cb2028;
    padding: 12px;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
    -ms-transition: 0.5s all ease-in-out;
    border-radius: 100px; }
    header input.fa-pinterest-p[type="search"]:focus, header .fa-pinterest-p:hover {
      color: #fff;
      background: #cb2028; }
  header .logo {
    font-family: sans;
    font-size: 42px;
    font-float: left;
    font-weight: bolder;
    user-select: none;
    text-transform: uppercase; }
  header ul li .header-options, header ul li .header-options a:hover {
    text-align: right; }
  header ul li .reg::before {
    content: "                          "; }
  header .log-reg-options {
    margin-top: 3%; }

/* Main */
.main-body {
  height: auto;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 3%; }

.main-body-column-1 {
  background: none;
  height: 400px;
  padding-right: 3%;
  padding-left: 3%; }

.main-body-column-2 {
  background: none;
  height: 400px;
  padding-left: 2%;
  padding-right: 2%; }

/* //Main */
.carousel {
  height: 320px;
  background: white; }

/*-- header-three --*/
.header-three {
  background: #19253A;
  background-size: cover;
  z-index: 999; }

.sticky {
  position: fixed;
  background: #19253A;
  top: 0;
  width: 100%;
  transition: 0.3s all ease; }

.sticky + .content {
  padding-top: 60px; }

/*-- //header-three --*/
.menu {
  float: left;
  width: 20%; }

.move-text {
  float: right;
  width: 80%;
  padding: 1em; }

/*-- menu --*/
.cd-dropdown-trigger:hover, header input.cd-dropdown-trigger[type="search"]:focus {
  color: white;
  opacity: 0.8; }

.cd-dropdown-trigger:focus {
  color: white; }

/*-- //menu --*/
/*-- welcome --*/
.welcome,
.deals,
.card-page,
.help,
.values,
.privacy,
.sitemap,
.products,
.related-products,
.login-page,
.contact,
.about,
.faq-w3agile,
.wthree-offers,
.w3l-services {
  padding: 5em 0; }

h3.w3ls-title {
  text-align: left;
  font-size: 2em;
  color: #000;
  margin: 1em 0;
  font-family: 'Offside', cursive; }

.welcome-grids {
  float: left;
  width: 33.33%;
  text-align: center;
  margin: 0.7em 0; }

.welcome-info {
  text-align: center; }

.welcome .bs-example.bs-example-tabs .nav-tabs {
  border: none;
  margin: 2em 0 1em; }

.welcome .bs-example-tabs ul.nav-tabs li {
  display: inline-block;
  float: none;
  margin: 0 3em; }

.welcome .bs-example-tabs ul.nav-tabs li a {
  display: block;
  outline: none;
  border: none;
  margin: 0; }

.welcome .bs-example-tabs ul.nav-tabs li a:focus {
  text-decoration: none; }

.welcome .tabcontent-grids ul li {
  display: block;
  color: #999;
  margin-top: 1em;
  font-size: 1em; }

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: transparent; }

.nav-tabs li a i.fa {
  font-size: 5em;
  color: #78d378;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -o-transition: .5s all;
  -ms-transition: .5s all;
  transition: .5s all; }

.nav-tabs li a i.fa.fa-female {
  color: #f57df5; }

.nav-tabs li a i.fa.fa-gift {
  color: #fd723e; }

.nav-tabs li a i.fa.fa-home {
  color: #5b91f2; }

.nav-tabs li a i.fa.fa-motorcycle {
  color: #ec4b81; }

.nav-tabs li a h5 {
  font-size: 1.2em;
  color: #555;
  margin-top: 1em;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -o-transition: .5s all;
  -ms-transition: .5s all;
  transition: .5s all; }

.welcome ul.nav-tabs li.active a i.fa,
.welcome ul.nav-tabs li:hover a i.fa {
  color: #d2d2d2; }

.welcome ul.nav-tabs li.active a h5,
.welcome ul.nav-tabs li:hover a h5 {
  color: #d2d2d2; }

/* Product Ads */
.products-ads h2 {
  font-size: 32px;
  font-family: sans;
  font-margin-top: 50px;
  color: #334572; }
.products-ads .ads-hr {
  border: 2px solid #334572; }
.products-ads .products-ads-row {
  height: auto;
  background: none;
  padding: 1% 2% 1% 2%; }
  .products-ads .products-ads-row span.view-all a {
    font-weight: bold;
    color: #334572;
    margin-bottom: 10px; }
.products-ads .latest-and-trending-ads {
  height: 205px; }
.products-ads .ads {
  height: 210px;
  width: 100%;
  background: #f4f4f4;
  opacity: 0.9;
  border-radius: 5px;
  box-shadow: 0 0 15px grey;
  padding: 2% 2%;
  padding-bottom: 2%;
  margin-bottom: 15px;
  transition: .2s all; }
  @media only screen and (max-width: 990px) {
    .products-ads .ads {
      height: auto;
      padding-bottom: 0; } }
  .products-ads .ads:hover, .products-ads header input.ads[type="search"]:focus, header .products-ads input.ads[type="search"]:focus {
    box-shadow: 0 0 25px grey;
    transition: .2s all ease-in-out; }
  .products-ads .ads .figure-caption {
    padding: 3% 3% 2% 3%;
    transition: .2s all ease-in-out; }
  .products-ads .ads .product-name {
    color: #334572;
    font-size: 15px;
    font-weight: bold; }
  .products-ads .ads .product-price {
    color: #7a7a7a;
    font-size: 11px; }
  .products-ads .ads .btn-view {
    margin-top: 0.7%; }

@media only screen and (max-width) {
  .products-ads .ads {
    height: auto; } }
/*footer*/
footer {
  height: auto;
  background: #1d3a4f;
  padding-top: 40px;
  padding-bottom: 10px;
  padding-left: 2px;
  padding-right: 2px;
  color: white; }

.footer-column, .footer-column ul li a, .footer-column ul li a:hover {
  margin-bottom: 4%;
  font-size: 12px;
  color: #ffffff;
  text-align: left; }

.footer-column ul li a, .footer-column ul li a:hover ul li a {
  font-size: 13px;
  color: #979797;
  line-height: 30px; }
  .footer-column ul li a:hover {
    font-size: 13px;
    color: #fff; }
.footer-column ul, .footer-column ul li a ul, .footer-column ul li a:hover ul {
  list-style-type: none;
  text-align: left;
  font-weight: light;
  margin-left: -40px;
  color: #979797; }

/*the font for the backlink is Roboto */
.backlink {
  height: auto; }
  .backlink p {
    font-size: 14px;
    font-family: "Roboto";
    font-weight: bold;
    color: #fff;
    text-align: center; }
  .backlink a {
    color: #fff; }
    .backlink a:hover {
      color: #7a7a7a; }

#error h1 {
  font-size: 50px;
  font-weight: bolder;
  color: red;
  position: absolute;
  margin: auto;
  text-transform: upper-case; }
#error h5 {
  font-weight: bolder;
  font-size: 30px;
  margin: auto;
  position: absolute; }

/* --Media Queries-- */
/* --Desktop Screens-- */
@media only screen and (width: 412px) {
  footer {
    padding-top: 0; } }
@media only screen and (min-width: 769px) {
  .big-screen-email {
    display: block; }

  .small-screen-email {
    display: none; }

  .mobile-reg-view {
    display: none; }

  .desktop-reg-view {
    display: block; } }
/* --Other Devices-- */
@media only screen and (max-width: 800px) {
  .big-screen-email {
    display: none; }

  .small-screen-email {
    display: block; }

  .mobile-reg-view {
    display: block; }

  .desktop-reg-view {
    display: none; }

  .logo-pic {
    text-align: center;
    margin-left: 20%; }

  header {
    padding-top: 3%; }

  .footer-column ul, .footer-column ul li a ul, .footer-column ul li a:hover ul {
    margin-bottom: 30px; }

  .btn-view {
    display: none; }

  .view {
    display: block; }

  .product-ads .ads {
    display: none; } }
@media only screen and (min-width: 801px) {
  .view {
    display: none; }

  .btn-view {
    display: block; } }
@media only screen and (width: 375px) {
  .logo-pic {
    margin-left: 24%; } }
@media only screen and (width: 768px) {
  .logo-pic {
    margin-left: 38.3%; }

  footer {
    padding-top: 30px; }

  #contact {
    text-align: left;
    margin-left: -5%; }

  header input[type="search"] {
    margin-bottom: 2%; }

  header input[type="search"],
  header input[type="submit"] {
    margin-left: 10%; }

  header input[type="submit"] {
    content-align: right; } }
@media only screen and (width: 800px) {
  header input[type="search"],
  header input[type="submit"] {
    margin-left: 10%; }

  header input[type="submit"] {
    content-align: right; }

  .logo-pic {
    margin-left: 38%; }

  #contact {
    text-align: left;
    margin-left: -3%; } }
@media only screen and (width: 600px) {
  .logo-pic {
    margin-left: 35.2%; }

  header input[type="search"] {
    margin-bottom: 2%; }

  header input[type="search"],
  header input[type="submit"] {
    margin-left: 10%; }

  footer {
    padding-top: 20px; } }
@media only screen and (width: 640px) {
  .logo-pic {
    margin-left: 36%; }

  header input[type="search"] {
    margin-bottom: 2%; }

  header input[type="search"],
  header input[type="submit"] {
    margin-left: 10%; } }
@media only screen and (width: 414px) {
  .logo-pic {
    margin-left: 27%; } }
/* importing buttons */
.btn-facebook,
.btn-google,
.btn-post,
.btn-posted,
.btn-profile {
  width: 100%;
  margin-bottom: 2%;
  transition: 0.3s all ease-in-out;
  box-shadow: 0 0 0;
  outline: none;
  border: none;
  color: white;
  font-weight: lighter; }

.btn-facebook {
  background: #3B5998; }
  .btn-facebook:hover, header input.btn-facebook[type="search"]:focus {
    background: #3B5998;
    opacity: 0.7; }

.btn-google {
  background: #d34836; }
  .btn-google:hover, header input.btn-google[type="search"]:focus {
    background: #d34836;
    opacity: 0.7; }

.btn-post {
  background: #334572; }
  .btn-post:hover, header input.btn-post[type="search"]:focus {
    background: #334572;
    opacity: 0.9;
    color: white;
    border: none;
    outline: 0; }

.btn-posted {
  background: white;
  color: #334572; }
  .btn-posted:hover, header input.btn-posted[type="search"]:focus {
    background: white;
    opacity: 0.8;
    border: none;
    outline: 0; }

.btn-post, .btn-posted, .btn-warning {
  font-weight: bold; }

.btn-profile {
  color: black; }
  .btn-profile:hover, header input.btn-profile[type="search"]:focus {
    background: black;
    color: #1d3a4f;
    opacity: 0.7; }

/* importing modal */
#myModal, #regModal {
  background: transparent;
  transition: 0.5s all ease-in-out; }
  #myModal .modal-body .form div input[type="text"], #regModal .modal-body .form div input[type="text"], #myModal .modal-body .form div .post-ads-form .select, .post-ads-form #myModal .modal-body .form div .select, #regModal .modal-body .form div .post-ads-form .select, .post-ads-form #regModal .modal-body .form div .select,
  #myModal .select,
  #regModal .select {
    background: transparent;
    width: 100%;
    height: 45px;
    border: 2px solid #1d3a4f;
    padding-left: 2%;
    border-radius: 3px; }

#myModal .modal-body .form div input[type="password"], #regModal .modal-body .form div input[type="password"] {
  background: transparent;
  width: 100%;
  height: 45px;
  border: 2px solid #1d3a4f;
  padding-left: 2%;
  border-radius: 3px;
  transition: 0.5s all ease-in-out; }
#myModal .modal-body .form div input[type="password"]:hover, #regModal .modal-body .form div input[type="password"]:hover, #myModal .modal-body .form div header input[type="password"][type="search"]:focus, header #myModal .modal-body .form div input[type="password"][type="search"]:focus, #regModal .modal-body .form div header input[type="password"][type="search"]:focus, header #regModal .modal-body .form div input[type="password"][type="search"]:focus,
#myModal .modal-body .form div .select:hover,
#regModal .modal-body .form div .select:hover,
#myModal .modal-body .form div header input.select[type="search"]:focus,
header #myModal .modal-body .form div input.select[type="search"]:focus,
#regModal .modal-body .form div header input.select[type="search"]:focus,
header #regModal .modal-body .form div input.select[type="search"]:focus,
#myModal .modal-body .form div input[type="password"]:focus,
#regModal .modal-body .form div input[type="password"]:focus,
#myModal .modal-body .form div .select:focus,
#regModal .modal-body .form div .select:focus {
  box-shadow: none;
  border: 2px solid #334572;
  opacity: 0.8;
  transition: 0.5s all ease-in-out; }
#myModal .modal-body .form div input[type="email"], #regModal .modal-body .form div input[type="email"] {
  background: transparent;
  width: 100%;
  height: 45px;
  border: 2px solid #1d3a4f;
  padding-left: 2%;
  border-radius: 3px;
  transition: 0.5s all ease-in-out; }
#myModal .modal-body .form div input[type="email"]:hover, #regModal .modal-body .form div input[type="email"]:hover, #myModal .modal-body .form div header input[type="email"][type="search"]:focus, header #myModal .modal-body .form div input[type="email"][type="search"]:focus, #regModal .modal-body .form div header input[type="email"][type="search"]:focus, header #regModal .modal-body .form div input[type="email"][type="search"]:focus,
#myModal .modal-body .form div input[type="email"]:focus,
#regModal .modal-body .form div input[type="email"]:focus {
  box-shadow: none;
  border: 2px solid #334572;
  opacity: 0.8;
  transition: 0.5s all ease-in-out; }

#myModal .modal-body .form div input[type="text"]:hover, #regModal .modal-body .form div input[type="text"]:hover, #myModal .modal-body .form div header input[type="text"][type="search"]:focus, header #myModal .modal-body .form div input[type="text"][type="search"]:focus, #regModal .modal-body .form div header input[type="text"][type="search"]:focus, header #regModal .modal-body .form div input[type="text"][type="search"]:focus, #myModal .modal-body .form div .post-ads-form .select:hover, .post-ads-form #myModal .modal-body .form div .select:hover, #regModal .modal-body .form div .post-ads-form .select:hover, .post-ads-form #regModal .modal-body .form div .select:hover, #myModal .modal-body .form div .post-ads-form .select:focus, .post-ads-form #myModal .modal-body .form div .select:focus, #regModal .modal-body .form div .post-ads-form .select:focus, .post-ads-form #regModal .modal-body .form div .select:focus {
  box-shadow: none;
  border: 2px solid #334572;
  opacity: 0.8; }

#myModal .modal-body .form div input[type="text"]:focus, #regModal .modal-body .form div input[type="text"]:focus, #myModal .modal-body .form div .post-ads-form .select:focus, .post-ads-form #myModal .modal-body .form div .select:focus, #regModal .modal-body .form div .post-ads-form .select:focus, .post-ads-form #regModal .modal-body .form div .select:focus {
  box-shadow: none;
  border: 2px solid #334572;
  transition: 0.5s all ease; }

.modal-body .form div .select {
  box-shadow: 0; }
  .modal-body .form div .select:focus {
    box-shadow: 0; }
  .modal-body .form div .select option {
    color: #334572;
    background: white;
    font-weight: bolder;
    padding-top: 1%;
    padding-bottom: 1%;
    transition: 0.2s all ease-in-out; }
    .modal-body .form div .select option[selected] {
      color: white;
      background: #334572;
      transition: 0.2s all ease-in-out; }

/* importing arrow-to-top */
/*-- to-top --*/
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  right: 2%;
  overflow: hidden;
  z-index: 999;
  width: 40px;
  height: 40px;
  border: none;
  text-indent: 100%;
  background: url(../images/move-up.png) no-repeat 0px 0px; }

#toTopHover {
  width: 40px;
  height: 40px;
  display: block;
  overflow: hidden;
  float: right;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0); }

/* Importing Products view page */
.product-details {
  padding-top: 3%;
  padding-right: 2%;
  padding-bottom: 1%;
  padding-left: 2%; }
  .product-details .h2 {
    font-size: 15px;
    font-weight: bold;
    color: #334572; }
  .product-details .h4 {
    color: grey;
    font-weight: bold;
    font-size: 12px; }
  .product-details img-desc-height {
    height: 100px;
    width: 100px; }
  .product-details ul {
    list-style-type: none; }

/* Margins */
.mt20 {
  margin-top: 20px; }

.ml10 {
  margin-left: 10px; }

.mr10 {
  margin-right: 10px; }

.ml30 {
  margin-left: 30px; }

.ml40 {
  margin-left: 40px; }

.ml50 {
  margin-left: 50px; }

.ml60 {
  margin-left: 54px; }

.ml70 {
  margin-left: 70px; }

.ml72 {
  margin-left: 75px; }

.ml80 {
  margin-left: 82px; }

.ml90 {
  margin-left: 98px; }

.ml100 {
  margin-left: 104px; }

.ml110 {
  margin-left: 107px; }

/* width */
.w50 {
  width: 30%; }

/* Importing Category page */
/* Importing Post Ads page */
.post-ads-form {
  height: auto;
  width: 100%;
  padding-top: 0;
  padding-bottom: 2%; }
  .post-ads-form .post-ads-header {
    background: url(../images/iphone6.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: auto;
    width: 100%;
    color: #334572; }
    .post-ads-form .post-ads-header h3 {
      font-weight: bolder;
      font-size: 50px;
      text-align: left;
      margin: auto;
      padding: 2% 7%; }
  .post-ads-form input[type="text"], .post-ads-form .select,
  .post-ads-form input[type="number"],
  .post-ads-form input[type="email"] {
    height: 45px;
    box-shadow: none;
    background: transparent;
    width: 100%;
    height: 45px;
    border: 2px solid #1d3a4f;
    padding-left: 2%;
    border-radius: 3px;
    transition: 0.5s all ease-in-out; }
    .post-ads-form input[type="text"]:hover, .post-ads-form header input[type="text"][type="search"]:focus, header .post-ads-form input[type="text"][type="search"]:focus, .post-ads-form .select:hover, .post-ads-form .select:focus, .post-ads-form input[type="text"]:focus, .post-ads-form .select:focus,
    .post-ads-form input[type="number"]:hover,
    .post-ads-form header input[type="number"][type="search"]:focus,
    header .post-ads-form input[type="number"][type="search"]:focus,
    .post-ads-form input[type="number"]:focus,
    .post-ads-form input[type="email"]:hover,
    .post-ads-form header input[type="email"][type="search"]:focus,
    header .post-ads-form input[type="email"][type="search"]:focus,
    .post-ads-form input[type="email"]:focus {
      box-shadow: none;
      border: 2px solid #334572;
      opacity: 0.8; }
  .post-ads-form textarea {
    resize: none;
    background: transparent;
    width: 100%;
    border: 2px solid #1d3a4f;
    border-radius: 3px;
    transition: 0.5s all ease-in-out; }
    .post-ads-form textarea:hover, .post-ads-form textarea:focus {
      box-shadow: none;
      border: 2px solid #334572;
      opacity: 0.8;
      transition: 0.5s all ease-in-out;
      padding-left: 2%; }

/* Importing buy item page */
.buy-body {
  margin-top: 1%;
  padding-bottom: 2%;
  height: 800px;
  width: 100%;
  background: transparent; }
  .buy-body .buy-header {
    background: url(../images/bg1.jpg);
    text-align: left;
    padding: 1% 2%; }
    .buy-body .buy-header h2 {
      color: #334572;
      font-size: 40px;
      font-weight: bolder; }
    .buy-body .buy-header h4 {
      color: white;
      font-size: 30px;
      font-weight: lighter; }

.right {
  text-align: right; }

/* Importing about us page */
.about-body .about-body-header {
  padding: 1% 2%; }

/* Importing stores page */
.stores-body .stores-body-header {
  padding: 1% 2%; }

/* Importing login and sign-up forms */
.login-header, .register-header {
  padding-top: 2%;
  width: 100%;
  height: auto; }
  .login-header h4, .register-header h4 {
    color: #334572;
    text-align: center;
    font-size: 45px;
    font-weight: bolder; }

.store-log-sign-body {
  background: url(../images/store-log-bac.jpg) no-repeat;
  background-size: cover; }

.log-sign-body {
  background: url(../images/log-back.jpg) no-repeat;
  background-size: cover; }

.login-body, .register-body {
  height: auto;
  width: 100%;
  margin-top: -5%;
  padding-top: 8%;
  padding-bottom: 8%;
  transition: 0.5s all ease-in-out; }
  .login-body .form div input[type="text"], .register-body .form div input[type="text"], .login-body .form div .post-ads-form .select, .post-ads-form .login-body .form div .select, .register-body .form div .post-ads-form .select, .post-ads-form .register-body .form div .select,
  .login-body .select,
  .register-body .select {
    background: transparent;
    width: 100%;
    height: 45px;
    border: 2px solid #1d3a4f;
    padding-left: 2%;
    border-radius: 3px; }
  .login-body .form div input[type="password"], .register-body .form div input[type="password"] {
    background: transparent;
    width: 100%;
    height: 45px;
    border: 2px solid #1d3a4f;
    padding-left: 2%;
    border-radius: 3px;
    transition: 0.5s all ease-in-out; }
  .login-body .form div input[type="password"]:hover, .register-body .form div input[type="password"]:hover, .login-body .form div header input[type="password"][type="search"]:focus, header .login-body .form div input[type="password"][type="search"]:focus, .register-body .form div header input[type="password"][type="search"]:focus, header .register-body .form div input[type="password"][type="search"]:focus,
  .login-body .form div .select:hover,
  .register-body .form div .select:hover,
  .login-body .form div header input.select[type="search"]:focus,
  header .login-body .form div input.select[type="search"]:focus,
  .register-body .form div header input.select[type="search"]:focus,
  header .register-body .form div input.select[type="search"]:focus,
  .login-body .form div input[type="password"]:focus,
  .register-body .form div input[type="password"]:focus,
  .login-body .form div .select:focus,
  .register-body .form div .select:focus {
    box-shadow: none;
    border: 2px solid #334572;
    opacity: 0.8;
    transition: 0.5s all ease-in-out; }
  .login-body .form div input[type="text"]:hover, .register-body .form div input[type="text"]:hover, .login-body .form div header input[type="text"][type="search"]:focus, header .login-body .form div input[type="text"][type="search"]:focus, .register-body .form div header input[type="text"][type="search"]:focus, header .register-body .form div input[type="text"][type="search"]:focus, .login-body .form div .post-ads-form .select:hover, .post-ads-form .login-body .form div .select:hover, .register-body .form div .post-ads-form .select:hover, .post-ads-form .register-body .form div .select:hover, .login-body .form div .post-ads-form .select:focus, .post-ads-form .login-body .form div .select:focus, .register-body .form div .post-ads-form .select:focus, .post-ads-form .register-body .form div .select:focus {
    box-shadow: none;
    border: 2px solid #334572;
    opacity: 0.8; }
  .login-body .form div input[type="text"]:focus, .register-body .form div input[type="text"]:focus, .login-body .form div .post-ads-form .select:focus, .post-ads-form .login-body .form div .select:focus, .register-body .form div .post-ads-form .select:focus, .post-ads-form .register-body .form div .select:focus {
    box-shadow: none;
    border: 2px solid #334572;
    transition: 0.5s all ease; }
  .login-body .form div .select, .register-body .form div .select {
    box-shadow: 0; }
    .login-body .form div .select:focus, .register-body .form div .select:focus {
      box-shadow: 0; }
    .login-body .form div .select option, .register-body .form div .select option {
      color: #334572;
      background: white;
      font-weight: bolder;
      padding-top: 1%;
      padding-bottom: 1%;
      transition: 0.2s all ease-in-out; }
      .login-body .form div .select option[selected], .register-body .form div .select option[selected] {
        color: white;
        background: #334572;
        transition: 0.2s all ease-in-out; }
  .login-body .form div input[type="email"], .register-body .form div input[type="email"] {
    background: transparent;
    width: 100%;
    height: 45px;
    border: 2px solid #1d3a4f;
    padding-left: 2%;
    border-radius: 3px;
    transition: 0.5s all ease-in-out; }
  .login-body .form div input[type="email"]:hover, .register-body .form div input[type="email"]:hover, .login-body .form div header input[type="email"][type="search"]:focus, header .login-body .form div input[type="email"][type="search"]:focus, .register-body .form div header input[type="email"][type="search"]:focus, header .register-body .form div input[type="email"][type="search"]:focus,
  .login-body .form div input[type="email"]:focus,
  .register-body .form div input[type="email"]:focus {
    box-shadow: none;
    border: 2px solid #334572;
    opacity: 0.8;
    transition: 0.5s all ease-in-out; }
  .login-body .social-login, .register-body .social-login {
    margin-bottom: 1%; }

.main-l-body {
  background: white;
  box-shadow: 0 0 20px #334572;
  padding-top: 2%;
  padding-bottom: 2%;
  transition: 0.4s all ease-in-out;
  border-radius: 4px; }
  .main-l-body:hover, header input.main-l-body[type="search"]:focus {
    box-shadow: 0 0 25px #334572;
    transition: 0.4s all ease; }
  .main-l-body h3 {
    color: #334572;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-family: serif; }
    .main-l-body h3::before, .main-l-body h3::after {
      background-color: #334572;
      content: "";
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 45%; }
      @media only screen and (max-width: 800px) {
        .main-l-body h3::before, .main-l-body h3::after {
          width: 40%; } }
    .main-l-body h3::before {
      right: 0.5em;
      margin-left: -38%; }
    .main-l-body h3::after {
      left: 0.5em;
      margin-right: -37%; }

/* Importing settings page */
/* Importing profile page */
.store-profile-picture-details {
  background: url(../images/img3.jpg) no-repeat;
  border: 2px solid white;
  background-size: cover;
  padding: 2.5% 2%; }
  @media only screen and (min-width: 991px) {
    .store-profile-picture-details {
      height: 300px; } }
  @media only screen and (max-width: 990px) {
    .store-profile-picture-details {
      display: none; } }

@media only screen and (min-width: 991px) {
  .store-profile-picture-details-mobile {
    display: none; } }
@media only screen and (max-width: 990px) {
  .store-profile-picture-details-mobile {
    display: block;
    height: 300px; } }

.personal-profile-picture {
  height: auto;
  width: 100%;
  padding: 2%;
  border: 2px solid white;
  background: url(../images/3.jpg) no-repeat;
  background-size: cover; }
  @media only screen and (max-width: 990px) {
    .personal-profile-picture {
      background: url(../images/bg1.jpg) no-repeat; } }
  .personal-profile-picture .profile-picture {
    border-radius: 50%;
    border: 3px solid #334572;
    vertical-align: middle; }
  .personal-profile-picture .profile-details {
    margin-top: 5%; }
    @media only screen and (max-width: 990px) {
      .personal-profile-picture .profile-details {
        margin-top: 2%; } }
    .personal-profile-picture .profile-details ul {
      list-style-type: none;
      text-align: center; }
      @media only screen and (max-width: 990px) {
        .personal-profile-picture .profile-details ul {
          text-align: left; } }
      .personal-profile-picture .profile-details ul li:nth-child(1) {
        color: white;
        font-size: 50px;
        font-weight: bolder; }
        @media only screen and (max-width: 990px) {
          .personal-profile-picture .profile-details ul li:nth-child(1) {
            font-size: 30px; } }
      .personal-profile-picture .profile-details ul li:nth-child(2) {
        color: white;
        font-size: 20px;
        font-weight: bold; }

.personal-profile-body {
  margin-top: 3%; }
  .personal-profile-body h2 {
    font-size: 35px;
    font-family: sans;
    font-margin-top: 50px;
    color: #334572; }
  .personal-profile-body .ads-hr {
    border: 2px solid #334572; }
  .personal-profile-body #posted-ads .ads {
    height: 210px;
    width: 100%;
    background: #f4f4f4;
    opacity: 0.9;
    border-radius: 5px;
    box-shadow: 0 0 15px grey;
    padding: 2% 2%;
    padding-bottom: 2%;
    margin-bottom: 15px;
    transition: .2s all; }
    @media only screen and (max-width: 990px) {
      .personal-profile-body #posted-ads .ads {
        height: auto;
        padding-bottom: 0; } }
    .personal-profile-body #posted-ads .ads:hover, .personal-profile-body #posted-ads header input.ads[type="search"]:focus, header .personal-profile-body #posted-ads input.ads[type="search"]:focus {
      box-shadow: 0 0 25px grey;
      transition: .2s all ease-in-out; }
    .personal-profile-body #posted-ads .ads .figure-caption {
      padding: 3% 3% 2% 3%;
      transition: .2s all ease-in-out; }
    .personal-profile-body #posted-ads .ads .product-name {
      color: #334572;
      font-size: 15px;
      font-weight: bold; }
    .personal-profile-body #posted-ads .ads .product-price {
      color: #7a7a7a;
      font-size: 11px; }
    .personal-profile-body #posted-ads .ads .btn-view {
      margin-top: 0.7%; }

.activities ul {
  color: #19253A;
  font-size: 15px;
  list-style-type: none; }
  .activities ul li:before {
    content: '~';
    margin-right: 1%;
    color: #334572;
    font-weight: bolder; }

.insights .insights-content {
  height: auto;
  width: 100%; }
  .insights .insights-content .insight-heading, .insights .insights-content .insights-value {
    color: #334572;
    opacity: 0.9;
    font-size: 30px;
    font-family: sans;
    text-align: center; }
  .insights .insights-content .insights-value {
    opacity: 0.7;
    color: grey;
    font-weight: lighter; }

.border-r {
  border-right: 1px solid grey; }
  @media only screen and (max-width: 990px) {
    .border-r {
      border-right: 0; } }

.about-box {
  height: 300px;
  width: 100%;
  padding: 1% 2%;
  border: 2px dashed #334572;
  border-radius: 5px; }

.personal-profile-b {
  background: #fafafa; }

.personal-profile-settings-body {
  width: 100%;
  height: auto;
  padding-top: 1%;
  padding-bottom: 1%; }
  .personal-profile-settings-body h2 {
    color: #334572;
    font-size: 60px;
    font-weight: bold;
    text-align: center; }
    @media only screen and (max-width: 990px) {
      .personal-profile-settings-body h2 {
        font-size: 30px; } }
  .personal-profile-settings-body ul {
    list-style-type: circle; }
    .personal-profile-settings-body ul li {
      font-size: 20px;
      font-weight: bolder;
      color: #334572;
      text-align: left;
      text-decoration: none; }
      .personal-profile-settings-body ul li a {
        color: #334572;
        font-weight: lighter; }

/*# sourceMappingURL=style.css.map */
